# 주석 붙어있는건 안써도 됨 

# PORT=8080
# PUBLIC_PATH=../public
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# origin 빼고 작성
GOOGLE_CALLBACK_URL_PATH=/auth/google/callback

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=webrtc_app
DB_USER=postgres
DB_PASSWORD=1234


# JWT
JWT_SECURE=false
JWT_SAME_SITE=lax
JWT_HTTP_ONLY=true
JWT_ACCESS_SECRET=change_me_use_random_64_bytes
JWT_ACCESS_EXPIRES_IN=1h
JWT_ACCESS_COOKIE_MAX_AGE=3600000 # 60 * 60 * 1000
JWT_REFRESH_SECRET=change_me_use_random_64_bytes
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_COOKIE_MAX_AGE=604800000 # 7 * 24 * 60 * 60 * 1000

# P2P
P2P_ROOM_ID_LENGTH=8
P2P_REQUEST_TIMEOUT_MS=120000 # 2 * 60 * 1000
P2P_PASSWORD_LENGTH=8

# GROUP
GROUP_ROOM_CODE_LENGTH=8
GROUP_ROOM_PASSWORD_LENGTH=8


# BCRYPT
BCRYPT_ROUND=10

# MEDIASOUP
## WORKER
MEDIASOUP_WORKER_MAX=1

## TRANSPORT
MEDIASOUP_LISTEN_IP=127.0.0.1
# MEDIASOUP_ANNOUNCED_ADDRESS=

MEDIASOUP_ENABLE_UDP=true
MEDIASOUP_ENABLE_TCP=true

MEDIASOUP_INITIAL_OUTGOING_BITRATE=1000000
MEDIASOUP_ENABLE_SCTP=false